@charset "utf-8";

#img box{
    box-shadow: 3px 3px 2px 5px 10px darkblue
}
#empty box{
    height: 100px ;     width: 100px;
    box-shadow: 3px 3px 2px 5px 10px darkblue inset;
}
#img box:hover{
    cursor: progress;

}
