@charset "uft-8";



@media (min-width:800){
    p{
        font-size: 120px;
        font-weight: 700;
    }
}

@media(min-width:500px) and (max-width:799px){
    p{
        font-size: 50px;
        font-weight: 700;
    }
}

@media ( max-width:499px){
    p{
        font-size: 20px;
        font-weight: 700;
    }
}
.text-text{
    text-align: 50px;
}

.text-bold{

}